body {
    background-image: url(./photos/Object.png);
    background-repeat: no-repeat;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between
    
}
nav img {
    width: 120px;
    height: 30px;
    margin-left: 80px;
}
nav ul {
    display: flex;
}
nav ul a {
    text-decoration: none;
    margin-right: 60px;
    font-size: 10px;
    color: white;
}
section div.main-section {
    text-align: center;
    margin-top: 220px;
    font-size: 40px;
}
.school {
    color: white;
    font-weight: bold;
    font-size: 100px;
    
}
section div.main-section span {
    color: white;
    font-size: 10px;
    margin: 0 15px;
    font-weight: bold;
}
section div.main-section button{
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(201, 129, 207);
    font-size: 8px;
    border-radius: 15px;
}
.div2 h2 {
    margin-top: 150px;
    text-align: center;
    color: white;
}
.div2 h2 span {
    font-weight: bold;
    color: rgb(201, 129, 207);
}
.div3 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 170px;
    color: white;
    line-height: 20px;
    font-size: 15px;
    
}

.div3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.div3 h3 {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}
.div3 p {
    font-size: 10px;
    font-style: italic;
    text-align: center;
    padding-bottom: 40px;
}
.testimonial {
    display: flex;
    justify-content: center;
    background-color: rgb(201, 129, 207);
    height: 300px;
    align-items: center;
    
}
.testimonial div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.testimonial div blockquote {
    color: white;
    
    margin-left: 50px;
    font-size: 15px;
}
.testimonial div h3 {
    color: white;
    line-height: 50px;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 20px;
}
.testimonial div p {
    color: white;
    margin-left: 50px;
    font-size: 11px;
    font-style: italic;
    margin-top: -12px;
}
.last-section {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    
}
.last-section h2 {
    margin-bottom: 100px;
    font-size: 25px;
}
.last-section h2 span {
    color: rgb(201, 129, 207);
    font-weight: bold;
}
.cards {
    position: relative;
    display: flex;
    padding: 0 100px;
    gap: 50px;
    justify-content: space-around;
}
.cards div .new_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 190px;
}
.new1 .new_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 190px;
}
.new div .new_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 190px;
}
.cards1 {
    display: flex;
    gap: 5px;
    justify-content: start
    margin-top: 10px;
    color: rgb(201, 129, 207);
    align-items: center;
}
.cards1 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.cards1 h4 {
    font-size: 12px;
    text-align: start;
    margin-top: 5px;
    margin-left: 10px;
}
.cards1 div i {
    color: rgb(201, 129, 207);
    font-size: 12px;
}
.cards div h3 {
    margin-top: 10px;
    font-size: 18px;
    text-align: start;
    font-weight: bold;
    margin-bottom: 15px;   
}
.cards div .p1 {
    font-size: 14px;
    text-align: start;
    padding-bottom: 20px;
    opacity: 0.5;
}
.card-bottom {
    display: flex;
    align-items: center;
    gap: 10px; /* space between them */
    color: rgb(201, 129, 207);
}
.card-bottom p {
    margin-left: auto; /* pushes the paragraph to the far right */
    font-size: 10px;
    margin-top: 30px;
}
.card-bottom .lasti {
    opacity: 0.2;
}
.new1 {
    position: relative;
}
.new1 div .new_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 93px;
}
.new2 {
    position: relative;
}
.new2 div .new_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 100px;
}
.new3 {
    position: relative;
}
.new3 div .new_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 100px;
}
.membership {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 150px;
    padding: 90px 0;
    
}
.real_membership {
    background-color: rgb(31, 31, 54);
    color: white;
    display: flex;
    flex-direction: column;
    
    
}

.real_membership button {
    border: none;
    padding: 12px;
    color: white;
    background-color: rgb(201, 129, 207);
    font-size: 10px;
    border-radius: 15px;
    width: 150px;
    margin-top: 20px;
    align-self: center;
    position: relative;
    top: -45px;
}
.real_membership h2 {
    text-align: center;
   padding-top: 100px;
   font-size: 30px;
}
.real_membership span {
    color: rgb(201, 129, 207);
    font-weight: bold;
}
.real_membership h3 {
    
    font-size: 15px;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
    
}
.real_membership p {
    font-size: 12px;
    margin-top: 20px;
    line-height: 20px;
    
}
.real_membership img {
    margin-left: 45px;
    margin-bottom: -10px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: 30px 240px;
    margin-bottom: 100px;
}
.divdiv {
    font-weight: bold;
    padding: 20 0px;
   text-align: start;
    font-size: 20px;
    margin-bottom: 30px;
}
.faq h2 {
    text-align: center;
    margin: 100px 0px;
    font-size: 30px;
}
.divdiv3 {
    font-size: 16px;
    line-height: 20px;
    text-align: start;
    margin-bottom: 80px;
    opacity: 0.5;
    
}