body {
    background-image: url(./photos/Object.png);
    background-repeat: no-repeat;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between
    
}
nav img {
    width: 120px;
    height: 30px;
    margin-left: 80px;
}
nav ul {
    display: flex;
}
nav ul a {
    text-decoration: none;
    margin-right: 60px;
    font-size: 10px;
    color: white;
}
section div.main-section {
    text-align: center;
    margin-top: 220px;
    font-size: 40px;
}
.school {
    color: white;
    font-weight: bold;
    font-size: 100px;
    
}
section div.main-section span {
    color: white;
    font-size: 10px;
    margin: 0 15px;
    font-weight: bold;
}
section div.main-section button{
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(201, 129, 207);
    font-size: 8px;
    border-radius: 15px;
}
.div2 h2 {
    margin-top: 150px;
    text-align: center;
    color: white;
}
.div2 h2 span {
    font-weight: bold;
    color: rgb(201, 129, 207);
}
.div3 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 170px;
    color: white;
    line-height: 20px;
    font-size: 15px;
    
}

.div3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.div3 h3 {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}
.div3 p {
    font-size: 10px;
    font-style: italic;
    text-align: center;
    padding-bottom: 40px;
}
.testimonial {
    display: flex;
    justify-content: center;
    background-color: rgb(201, 129, 207);
    height: 300px;
    align-items: center;
    
}
.testimonial div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.testimonial div blockquote {
    color: white;
    
    margin-left: 50px;
    font-size: 15px;
}
.testimonial div h3 {
    color: white;
    line-height: 50px;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 20px;
}
.testimonial div p {
    color: white;
    margin-left: 50px;
    font-size: 11px;
    font-style: italic;
    margin-top: -12px;
}